#header, #footer {display: none;}


#gallery {position: absolute; z-index: 1000; top: 0; left: 0; right: 0; bottom: 0; background: url(../images/gallery.jpg) center 450px no-repeat;}
#artwork {position: absolute; z-index: 1001; top: 80px; left: 0; right: 0; width: 375px; height: 281px; margin: 0 auto; padding: 20px; background: rgba(253,251,250,1); box-shadow: 0 5px 8px rgba(12,8,6,.32); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
#artwork iframe {width: 100%; height: 100%; z-index: 1002; overflow: hidden; border: 1px solid rgba(0,0,0,.1);}
#glass {position: absolute; z-index: 1010; top: 80px; text-indent: -99999px; left: 0; right: 0; width: 400px; height: 250px; margin: 0 auto; padding: 20px; background: rgba(255,255,255,0);}

#gallery[data-frame=white] #artwork {background: rgba(255,255,255,1);}
#gallery[data-frame=black] #artwork {background: rgba(23,18,19,1);}
#gallery[data-frame=none] #artwork {background: transparent; padding: 0;}
#gallery[data-frame=tv] #artwork {padding-bottom: 25px; background: rgba(23,18,19,1) url(../images/tv_frame.png) bottom center no-repeat;}
#gallery[data-frame=transparent] #artwork {background: none; box-shadow: none;}


#selection {position: absolute; top: 35px; left: 0; right: 0; z-index: 1020; width: 550px; min-height: 200px; padding: 15px; margin: 0 auto; background: rgba(12,8,6,.64); box-shadow: 0 5px 8px rgba(12,8,6,.32);}