- content_for :css do
  - #  HOW-TO CALCULATE CSS TRANSFORMATION RATIO:
  - #  ---------------------------------------------------------------------------
  - #  1. Determine artwork frame size (e.g. 500x374)
  - #  2. Determine artwork actual size (src for iframe -- e.g. 375x281)
  - #  3. Get ratio of actual size to frame size (e.g. width: 375/500 = .75)
  - #  4. Set transform/zoom to this percentage (e.g. zoom: .75; [...])
  - #  5. Set iframe width / height to 100 / ratio (e.g. 100 / .75 = 133.33 = 133%)

  - media_sizes.each do |k,v|
    = set_media_size(@art_piece, v)


#gallery{:'data-frame' => @art_piece.frame_type, :'data-gallery' => @art_piece.gallery_type, :'data-audience' => @art_piece.audience_type, :'data-format' => @art_piece.format_type}
  / PROTECTIVE GLASS
  #glass &nbsp;

  / THE ARTWORK
  #artwork
    %iframe{:src => @art_piece.url, :frameborder => "0", :border => "0", :scrolling => "no"}