.c
  = haml :'art_pieces/_gallery'

  #gallery_buttons
    - unless @art_piece.new_record? || (@art_piece.title.blank? && @art_piece.artist.blank?)
      %a#piece_info.button{:href => 'javascript:;', :title => t.art_pieces.show.info}= t.art_pieces.show.info